/* src/styling/loader.css */
.blob {
  width: 300px;
  height: 300px;
  margin: 2% auto;
  position: relative;
  color: var(--blob-color, #fff);
  display: flex;
  justify-content: center;
  align-items: center;
}

.blob::before {
  border: 2px solid var(--blobColorLine1, #fff);
  border-radius: var(--border-radius-before, 58% 42% 48% 53% / 47% 60% 36% 53%);
  width: 100%;
  height: 100%;
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  animation: rotate 16s linear infinite;
  transition: border-radius 0.5s ease-in-out;
}

.blob::after {
  border: 2px solid var(--blobColorLine22, #fff);
  border-radius: var(--border-radius-after, 48% 42% 48% 53% / 47% 60% 36% 53%);
  width: 100%;
  height: 100%;
  background: var(--loader-color7);
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  animation: rotate 15s linear infinite;
  transition: border-radius 0.5s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
    border-color: var(--loader-color1);
  }

  10% {
    transform: rotate(36deg);
    border-color: var(--loader-color2);
  }

  20% {
    transform: rotate(72deg);
    border-color: var(--loader-color1);
  }

  30% {
    transform: rotate(108deg);
    border-color: var(--loader-color3);
  }

  40% {
    transform: rotate(140deg);
    border-color: var(--loader-color4);
  }

  50% {
    transform: rotate(172deg);
    border-color: var(--loader-color5);
  }

  60% {
    transform: rotate(204deg);
    border-color: var(--loader-color1);
  }

  70% {
    transform: rotate(236deg);
    border-color: var(--loader-color5);
  }

  80% {
    transform: rotate(268deg);
    border-color: var(--loader-color1);
  }

  90% {
    transform: rotate(300deg);
    border-color: var(--loader-color5);
  }

  100% {
    transform: rotate(0deg);
    border-color: var(--loader-color1);
  }
}

.blob.loading::before,
.blob.loading::after {
  animation: rotate-loading 15s linear infinite;
}

@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
    border-color: var(--loader-color1);
  }

  10% {
    transform: rotate(120deg);
    border-color: var(--loader-color2);
  }

  20% {
    transform: rotate(40deg);
    border-color: var(--loader-color1);
  }

  30% {
    transform: rotate(360deg);
    border-color: var(--loader-color3);
  }

  40% {
    transform: rotate(300deg);
    border-color: var(--loader-color4);
  }

  50% {
    transform: rotate(480deg);
    border-color: var(--loader-color5);
  }

  60% {
    transform: rotate(300deg);
    border-color: var(--loader-color1);
  }

  70% {
    transform: rotate(520deg);
    border-color: var(--loader-color5);
  }

  80% {
    transform: rotate(360deg);
    border-color: var(--loader-color1);
  }

  90% {
    transform: rotate(680deg);
    border-color: var(--loader-color5);
  }

  95% {
    transform: rotate(360deg);
    border-color: var(--loader-color6);
  }

  100% {
    transform: rotate(0deg);
    border-color: var(--loader-color6);
  }
}

.loader {
  width: 100px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #ffffff;
  filter: blur(5px) contrast(10);
  mix-blend-mode: darken;
}

.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  background:
    linear-gradient(#091b25 0 0) left,
    linear-gradient(#091b25 0 0) right;
  background-size: 20px 40px;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.loader:after {
  height: 20px;
  width: 20px;
  margin: auto 0;
  border-radius: 50%;
  background: #091b25;
  animation: l10 1.5s infinite;
}

@keyframes l10 {

  90%,
  100% {
    transform: translate(300%);
  }
}

.loaderChill {
  width: 150px;
  aspect-ratio: 1;
  padding: 10px;
  box-sizing: border-box;
  display: grid;
  background: #ffffff00;
  mix-blend-mode: darken;
  position: relative;
}

.loaderChill:before,
.loaderChill:after {
  content: "";
  position: absolute;
  grid-area: 1/1;
  background:
    linear-gradient(#091b25 0 0) left,
    linear-gradient(#091b25 0 0) right;
  background-size: 20px 40px;
  background-origin: content-box;
  background-repeat: no-repeat;
}

.loaderChill:before {
  height: calc(40px + (var(--mouse-y) * -0.006));
  width: calc(20px + (var(--mouse-x) * -0.002));
  top: 23%;
  left: 0%;
  transform: translate(-50%, -50%);
  border-radius: 40%;
  background: #000000;
  animation: l11-before-15s 15s infinite;
}

.loaderChill:after {
  height: calc(40px + (var(--mouse-y) * -0.006));
  width: calc(20px + (var(--mouse-x) * -0.002));
  top: 23%;
  left: 40%;
  transform: translate(-50%, -50%);
  border-radius: 40%;
  background: #000000;
  animation: l11-after-15s 15s infinite;
}

@keyframes l11-before-15s {
  0% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05));
  }

  50% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05));
  }

  90% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(1);
    transform-origin: center;
  }

  93% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(0.05);
    transform-origin: center;
  }

  94% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(1);
    transform-origin: center;
  }

  97% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(0);
    transform-origin: center;
  }

  100% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(1);
    transform-origin: center;
  }
}

@keyframes l11-after-15s {
  0% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05));
  }

  50% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05));
  }

  90% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(1);
    transform-origin: center;
  }

  93% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(0.05);
    transform-origin: center;
  }

  94% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(1);
    transform-origin: center;
  }

  97% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(0);
    transform-origin: center;
  }

  100% {
    transform: translate(calc(var(--mouse-x) * 0.02), calc(var(--mouse-y) * 0.05)) scaleY(1);
    transform-origin: center;
  }
}